* {
    box-sizing: border-box;
}


/*!* BODY *!*/

/*body {*/
/*    font-family: 'Roboto', sans-serif;*/
/*    width: 100%;*/
/*}*/

/*!* HEADER *!*/

/*header {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*}*/

/*header a {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

/*header h1 {*/
/*    font-family: shrikhand;*/
/*    font-weight: bold;*/
/*    font-size: 2.5em;*/
/*}*/

/*.localisation {*/
/*    width: 80%;*/
/*    height: 50px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: #f2f2f2;*/
/*    border-top: 3px solid rgb(224, 220, 220);*/
/*    margin-bottom: 20px;*/

/*}*/

/*.localisation input {*/
/*    font-size: 1.2em;*/
/*    text-align: center;*/
/*    border: none;*/
/*    width: 50%;*/
/*    background-color: #f2f2f2;*/
/*    color: grey;*/
/*}*/


/*main {*/
/*    margin-left: 1%;*/
/*    margin-right: 1%;*/
/*    margin-bottom: 10px;*/
/*}*/


/*!*--mise en page section présentation--*!*/
/*.presentation {*/
/*    width: 98%;*/
/*    margin-left: 1%;*/
/*    margin-right: 1%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/


/*}*/

/*.presentation .menu {*/
/*    width: 70%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    align-content: flex-start;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.menu h2 {*/
/*    width: 86%;*/
/*    text-align: center;*/
/*    font-size: 1.2em;*/
/*    margin-top: 0px;*/
/*    margin-bottom: 0px;*/
/*}*/

/*.menu p {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    font-size: 0.9em;*/
/*    line-height: 17px;*/
/*    color: grey;*/
/*    margin-bottom: 15px;*/
/*}*/

/*!*--mise en page du bouton "explorer"--*!*/
/*.button {*/
/*    width: 60%;*/
/*    text-align: center;*/
/*    border: none;*/
/*    margin-bottom: 40px;*/


/*}*/

/*.button input {*/
/*    height: 40px;*/
/*    width: 100%;*/
/*    background-color: #9356dc;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 23px;*/
/*}*/

/*!*--mise en page de la nav--*!*/

/*nav {*/
/*    width: 90%;*/

/*}*/

/*nav h3 {*/
/*    margin-left: 20px;*/
/*}*/

/*nav ul {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    list-style-type: none;*/

/*}*/

/*nav ul li {*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    margin-bottom: 20px;*/
/*    background-color: rgb(247, 242, 242);*/
/*    border: none;*/
/*    border-radius: 18px;*/
/*    margin-right: 35px;*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/

/*}*/


/*nav ul li a {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    font-weight: bold;*/

/*}*/

/*nav ul li p {*/
/*    height: 20px;*/
/*    width: 26px;*/
/*    margin-right: 25px;*/
/*    background-color: #9356dc;*/
/*    text-align: center;*/
/*    border-radius: 50%;*/
/*    color: white;*/
/*    font-size: 0.8em;*/
/*    padding-top: 5px;*/
/*    margin-left: -7px;*/
/*}*/

/*nav ul li i {*/
/*    margin-right: 10px;*/
/*}*/

/*!*--Mise en page section restaurant--*!*/

/*.restaurant {*/
/*    width: 100%;*/
/*    height: 1190px;*/
/*    margin-left: 0%;*/
/*    margin-right: 1%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    background-color: #f2f2f2;*/

/*}*/


/*.restaurant h3 {*/
/*    margin-left: 40px;*/
/*    margin-bottom: 0px;*/
/*}*/

/*.carte {*/
/*    width: 100%;*/
/*    height: 1100px;*/
/*    margin-right: 0px;*/
/*    margin-left: 0px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    position: relative;*/
/*}*/

/*.carte a {*/
/*    width: 100%;*/
/*    margin-left: 0px;*/
/*    margin-right: 0px;*/
/*    height: 200px;*/
/*    text-decoration: none;*/
/*}*/

/*.carte a:first-child::before {*/
/*    content: "Nouveau";*/
/*    display: block;*/
/*    font-weight: bold;*/
/*    font-size: 1.2em;*/
/*    width: 100px;*/
/*    height: 30px;*/
/*    padding-top: 5px;*/
/*    background-color: rgb(192, 240, 166);*/
/*    color: rgb(64, 150, 17);*/
/*    text-align: center;*/
/*    position: absolute;*/
/*    right: 30px;*/
/*    top: 60px;*/
/*    z-index: 1;*/
/*}*/

/*.carte a:nth-child(2)::before {*/
/*    content: "Nouveau";*/
/*    display: block;*/
/*    font-weight: bold;*/
/*    font-size: 1.2em;*/
/*    padding-top: 5px;*/
/*    width: 100px;*/
/*    height: 30px;*/
/*    background-color: rgb(192, 240, 166);*/
/*    color: rgb(64, 150, 17);*/
/*    text-align: center;*/
/*    position: absolute;*/
/*    right: 38px;*/
/*    top: 335px;*/
/*    z-index: 1;*/
/*}*/


/*.card {*/
/*    width: 98%;*/
/*    margin-left: 1%;*/
/*    margin-right: 1%;*/
/*    height: 260px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    background-color: white;*/
/*    border-radius: 15px;*/
/*    box-shadow: 2px 2px 2px grey;*/

/*}*/


/*.card img {*/
/*    width: 100%;*/
/*    height: 200px;*/
/*    object-fit: cover;*/
/*    border-radius: 15px 15px 0px 0px;*/

/*}*/


/*.global_card {*/
/*    width: 100%;*/
/*    height: 60px;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: baseline;*/


/*}*/

/*.name_card {*/
/*    width: 80%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-content: flex-start;*/
/*    line-height: 0px;*/
/*    height: 60px;*/


/*}*/

/*.name_card h3 {*/
/*    color: black;*/
/*    font-size: 1em;*/
/*    font-weight: 900;*/
/*    margin-bottom: 5px;*/
/*    margin-left: 5px;*/

/*}*/

/*.name_card p {*/
/*    color: grey;*/
/*    font-size: 0.8em;*/
/*    margin-left: 5px;*/
/*}*/

/*.heart_card {*/
/*    color: grey;*/
/*    text-align: center;*/


/*}*/

/*.heart_card i {*/
/*    font-size: 1.4em;*/
/*    padding-top: 15px;*/
/*}*/

/*.heart_card i:hover {*/
/*    display: block;*/
/*    color: none #9356cd;*/
/*}*/


/*!*--mise en page du fotter--*!*/
/*footer {*/
/*    width: 100%;*/
/*    margin-right: 1%;*/
/*    margin-left: 0%;*/
/*    height: 200px;*/
/*    background-color: rgb(54, 52, 52);*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    align-items: flex-start;*/
/*    padding-left: 20px;*/
/*}*/

/*.footer_list {*/
/*    width: 98%;*/
/*    height: 130px;*/
/*    margin-left: 1%;*/
/*    margin-right: 7%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-around;*/
/*    align-items: flex-start;*/

/*}*/

/*footer h3 {*/
/*    font-family: shrikhand;*/
/*    font-weight: normal;*/
/*    color: white;*/
/*}*/

/*footer a {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    font-weight: normal;*/
/*}*/

/*footer i {*/
/*    margin-right: 1px;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*}*/


/* Mise en page de la version Mobile */

@media screen and (min-width: 375px) and (max-width: 768px) {

    /*--mise en page du header--*/
    header h1 {
        font-size: 2.2em;
    }

    .localisation input {
        width: 27%;
        font-size: 1.3em;
    }

    /*--mise en page du main--*/
    /*--mise en page du menu presentation--*/
    .menu h2 {
        font-size: 1.4em;
    }

    .menu p {
        width: 60%;
        font-size: 1.1em;
    }

    .button {
        width: 40%;
        font-size: 1.2em;
    }

    nav h3 {
        font-size: 1.4em;
        margin-left: 25px;
    }

    nav ul {
        align-items: flex-start;
        padding-left: 20px;
        font-size: 1.2em;
    }

    nav ul li {
        width: 60%;
        height: 60px;
    }

    /*--mise en page section restaurant--*/
    .restaurant {
        height: 1700px;
    }

    .restaurant h3 {
        font-size: 1.4em;
        margin-left: 60px;
        margin-bottom: 20px;
    }

    .carte {
        height: 1415px;
        justify-content: space-between;
        position: relative;
    }

    .carte a:first-child::before {
        content: "Nouveau";
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        width: 100px;
        height: 30px;
        padding-top: 5px;
        background-color: rgb(192, 240, 166);
        color: rgb(64, 150, 17);
        text-align: center;
        position: absolute;
        right: 30px;
        top: 40px;
        z-index: 1;
    }

    .carte a:nth-child(2)::before {
        content: "Nouveau";
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        width: 100px;
        height: 30px;
        padding-top: 5px;
        background-color: rgb(192, 240, 166);
        color: rgb(64, 150, 17);
        text-align: center;
        position: absolute;
        right: 38px;
        top: 440px;
        z-index: 1;
    }

    .card {
        height: 380px;
    }

    .card img {
        height: 320px;
    }

    .name_card {
        flex-basis: 80%;
        line-height: 5px;
    }

    .heart_card {
        flex-basis: 20%;


    }

    .heart_card i {
        font-size: 20px;


    }

    .name_card h3 {
        font-size: 1.2em;
        margin-bottom: 0px;
    }

    .name_card p {
        font-size: 1.1em;
        padding-left: 55px;
    }


    /*--mise en page du footer--*/
    footer {
        width: 100%;
        margin-right: 1px;
        margin-left: 0%;
        align-items: center;
        justify-content: flex-start;

    }

    .footer_list {
        width: 98%;
        height: 80px;
        margin-left: 5%;
        margin-right: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        align-content: space-between;

    }


    footer h3 {
        font-size: 1.5em;
        font-weight: normal;
    }

    footer span {
        font-size: 1.3em;
        margin-bottom: 3px;
    }

}

/* Mise en page de la version Tablette */

@media screen and (min-width: 768px) and (max-width: 992px) {

    /*--mise en page du header--*/
    header h1 {
        font-size: 2.2em;
    }

    .localisation input {
        width: 27%;
        font-size: 1.3em;
    }

    /*--mise en page du main--*/
    /*--mise en page du menu presentation--*/
    .menu h2 {
        font-size: 1.4em;
    }

    .menu p {
        width: 60%;
        font-size: 1.1em;
    }

    .button {
        width: 40%;
        font-size: 1.2em;
    }

    nav h3 {
        font-size: 1.4em;
        margin-left: 25px;
    }

    nav ul {
        align-items: flex-start;
        padding-left: 20px;
        font-size: 1.2em;
    }

    nav ul li {
        width: 60%;
        height: 60px;
    }

    /*--mise en page section restaurant--*/
    .restaurant {
        height: 1700px;
    }

    .restaurant h3 {
        font-size: 1.4em;
        margin-left: 60px;
        margin-bottom: 20px;
    }

    .carte {
        height: 1415px;
        justify-content: space-between;
        position: relative;
    }

    .carte a:first-child::before {
        content: "Nouveau";
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        width: 100px;
        height: 30px;
        padding-top: 5px;
        background-color: rgb(192, 240, 166);
        color: rgb(64, 150, 17);
        text-align: center;
        position: absolute;
        right: 30px;
        top: 40px;
        z-index: 1;
    }

    .carte a:nth-child(2)::before {
        content: "Nouveau";
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        width: 100px;
        height: 30px;
        padding-top: 5px;
        background-color: rgb(192, 240, 166);
        color: rgb(64, 150, 17);
        text-align: center;
        position: absolute;
        right: 38px;
        top: 440px;
        z-index: 1;
    }

    .card {
        height: 380px;
    }

    .card img {
        height: 320px;
    }

    .name_card {
        flex-basis: 80%;
        line-height: 5px;
    }

    .heart_card {
        flex-basis: 20%;


    }

    .heart_card i {
        font-size: 20px;


    }

    .name_card h3 {
        font-size: 1.2em;
        margin-bottom: 0px;
    }

    .name_card p {
        font-size: 1.1em;
        padding-left: 55px;
    }


    /*--mise en page du footer--*/
    footer {
        width: 100%;
        margin-right: 1px;
        margin-left: 0%;
        align-items: center;
        justify-content: flex-start;

    }

    .footer_list {
        width: 98%;
        height: 80px;
        margin-left: 5%;
        margin-right: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        align-content: space-between;

    }


    footer h3 {
        font-size: 1.5em;
        font-weight: normal;
    }

    footer span {
        font-size: 1.3em;
        margin-bottom: 3px;
    }

}

/* Mise en page de la version Desktop */

@media screen and (min-width: 992px) and (max-width: 1400px) {

    header h1 {
        font-size: 2.8em;
    }

    .localisation {
        width: 50%;
    }

    .localisation i {
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 1.3em;
        padding-top: 10px;
    }

    .localisation input {
        font-size: 1.8em;
    }

    /*--mise en page du main--*/
    /*-- mise en page de la présentation--*/
    .menu {
        width: 100%;
        margin-bottom: 20px;

    }

    .menu h2 {
        font-size: 1.6em;
        margin-bottom: 10px;
    }

    .menu p {
        width: 60%;
        font-size: 1.5em;
        line-height: 30px;

    }

    .button input {
        width: 50%;
        height: 50px;
        font-size: 1.3em;
    }

    nav {
        width: 100%;
    }

    nav h3 {
        font-size: 1.5em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 0px;
    }

    nav ul li {
        width: 60%;
        font-size: 1.1em;

    }

    /*-- mise en page de la section restaurant--*/
    .restaurant {
        height: 930px;
    }

    .restaurant h3 {
        font-size: 1.5em;
        margin-left: 25px;
        margin-bottom: 20px;
    }

    .carte a {
        width: 48%;
        height: 400px;

    }

    .carte {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        position: relative;
    }

    .carte a:first-child::before {
        content: "Nouveau";
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        width: 100px;
        height: 30px;
        padding-top: 5px;
        background-color: rgb(192, 240, 166);
        color: rgb(64, 150, 17);
        text-align: center;
        position: absolute;
        left: 445px;
        top: 30px;
        z-index: 1;
    }

    .carte a:nth-child(2)::before {
        content: "Nouveau";
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        width: 100px;
        height: 30px;
        padding-top: 5px;
        background-color: rgb(192, 240, 166);
        color: rgb(64, 150, 17);
        text-align: center;
        position: absolute;
        right: 50px;
        top: 30px;
        z-index: 1;
    }


    .card {
        width: 98%;
        height: 400px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .card img {
        height: 340px;
    }

    .name_card h3 {
        font-size: 1.2em;
        margin-left: 0px;
        margin-bottom: 6px;
    }

    .name_card p {
        font-size: 1em;
        margin-left: 0px;
    }

    .heart_card {
        font-size: 1.2em;
        margin-top: 10px;
    }

    /*--mise en page du footer--*/
    footer {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    footer h3 {
        font-size: 1.8em;
        margin-top: 10px;
    }

    .footer_list {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        font-size: 1.4em;

    }

    i[class="fas fa-hands-helping"] {
        padding-right: 10px;
    }


}
    
